*, body, html {
    font-family: 'Play', sans-serif;
}

body {
    background-image: url("assets/TeslaEnhanced.jpg");
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: initial;
    }
}
